<div class="navBar">
  <img  class="img" src="../../assets/JustSportsLogo.png" alt="multisports">
  <h1>Just Sports</h1>


</div>
<div>
  <button class="btn_header" (click)="onButtonClick()">Deportes</button>
  <button class="btn_header" (click)="onButtonClick()">Instalaciones</button>
  <button class="btn_header" (click)="onButtonClick()">Grupos</button>
</div>

<div class="log">
  <a href="">Login</a>
  <a href="">Register</a>
</div>
