.navBar{
  background-color:white;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 26px;
letter-spacing: 0.8px;
word-spacing: 2.4px;
color: #4133FF;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
}
img{
  width:  200px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.btn_header{

  border-radius: 40px 38px 40px 40px;

  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 2px 5px rgba(0,0,0,0.11);

  padding: 10px;

}
.log{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-decoration: none;
  margin-right: 5%;
  border-bottom: #4133FF solid 1px;
}
