
<h2>Regístrate</h2>
<h2>Formulario de Registro:</h2>
<!-- formGroup es el nombre de nuestro formFroup del .ts -->
<form  novalidate (ngSubmit)="onSubmit()" [formGroup]="userRegisterForm">
<!-- Fieldset del primer campo - name -->
<fieldset>
  <label for="name">Nombre:</label>
  <input type="text" id="name" formControlName="name" />
  <!-- Si el campo name es invalido / ha sido tocado / submitted = true -->
  <div *ngIf="!userRegisterForm.get('name')?.valid &&
      (userRegisterForm.get('name')?.dirty || submitted)">
    Has introducido mal tu nombre
  </div>
</fieldset>

<!-- Fieldset del segundo campo - password -->
<fieldset>
  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="password" />
  <!-- Si el campo password es invalido / ha sido password / submitted = true -->
  <div *ngIf="!userRegisterForm.get('password')?.valid &&
      (userRegisterForm.get('password')?.dirty || submitted)">
    Has introducido mal tu contraseña
  </div>
</fieldset>

<!-- Fieldset del segundo campo - repeatPassword -->
<fieldset>
  <label for="passwordRepeat">Repeat password:</label>
  <input type="password" id="passwordRepeat" formControlName="passwordRepeat" />
  <!-- Si el campo repeatPassword es invalido / ha sido password / submitted = true -->
  <div *ngIf="!userRegisterForm.get('passwordRepeat')?.valid &&
      (userRegisterForm.get('passwordRepeat')?.dirty || submitted)">
    Tu contraseña no coincide
  </div>
</fieldset>


<!-- Fielsets del segundo Grupo Adress -->
<fieldset>
  <label for="street">Calle:</label>
  <input type="text" id="street" formControlstreet="street" />
  <!-- Si el campo street es invalido / ha sido tocado / submitted = true -->
  <div *ngIf="!userRegisterForm.get('street')?.valid &&
      (userRegisterForm.get('street')?.dirty || submitted)">
    Has introducido mal tu calle
  </div>
</fieldset>

<fieldset>
  <label for="number">Número:</label>
  <input type="text" id="number" formControlnumber="number" />
  <!-- Si el campo number es invalido / ha sido tocado / submitted = true -->
  <div *ngIf="!userRegisterForm.get('number')?.valid &&
      (userRegisterForm.get('number')?.dirty || submitted)">
    Has introducido mal tu Número
  </div>
</fieldset>

<fieldset>
  <label for="door">Puerta:</label>
  <input type="text" id="door" formControldoor="door" />
  <!-- Si el campo door es invalido / ha sido tocado / submitted = true -->
  <div *ngIf="!userRegisterForm.get('door')?.valid &&
      (userRegisterForm.get('door')?.dirty || submitted)">
    Has introducido mal tu Puerta
  </div>
</fieldset>

<fieldset>
  <label for="postalCode">Código Postal:</label>
  <input type="text" id="postalCode" formControlpostalCode="postalCode" />
  <!-- Si el campo postalCode es invalido / ha sido tocado / submitted = true -->
  <div *ngIf="!userRegisterForm.get('postalCode')?.valid &&
      (userRegisterForm.get('postalCode')?.dirty || submitted)">
    Has introducido mal tu código postal
  </div>
</fieldset>

<fieldset>
  <label for="city">Ciudad:</label>
  <input type="text" id="city" formControlcity="city" />
  <!-- Si el campo city es invalido / ha sido tocado / submitted = true -->
  <div *ngIf="!userRegisterForm.get('city')?.valid &&
      (userRegisterForm.get('city')?.dirty || submitted)">
    Has introducido mal tu Ciudad
  </div>
</fieldset>

<fieldset>
  <label for="country">Pais:</label>
  <input type="text" id="country" formControlcountry="country" />
  <!-- Si el campo country es invalido / ha sido tocado / submitted = true -->
  <div *ngIf="!userRegisterForm.get('country')?.valid &&
      (userRegisterForm.get('country')?.dirty || submitted)">
    Has introducido mal tu pais
  </div>
</fieldset>

<!-- Botón deshabilitado hasta que el formulario sea valid -->
<button type="submit" [disabled]="!userRegisterForm.valid">Submit</button>

</form>
<router-outlet></router-outlet>
